body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f8f9fa;
  color: #eee;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin:10px auto;
}

#searchForm {
  display: flex;
  gap: 10px;
  background-color: #ffffffdd;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#searchInput {
  width: 280px;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #ddd;
  transition: border-color 0.2s, box-shadow 0.2s;
  outline: none;
}

#searchInput:focus {
  border-color: #58a27c;
  box-shadow: 0 0 5px rgba(88, 162, 124, 0.5);
}

#searchButton {
  background-color: #58a27c;
  color: white;
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

#searchButton:hover {
  background-color: #3b7e5c;
}
